body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

span {
    font-weight: bold;
    color: #008000;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
